<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX</title>
</head>
<body>
    <h1>AJAX с Node.js</h1>
    <button id="getMessage">Получить сообщение</button>
    <div id="output"></div>

    <form id="echoForm">
        <input type="text" id="inputText" placeholder="Введите текст" required/>
        <button type="submit">Отправить</button>
    </form>
    <div id="echoOutput"></div>

    <h3>Операция сложения</h3>
    <form id="mathForm">
        <input type="number" id="mathText" placeholder="Введите первое число" required/>
        <input type="number" id="math2Text" placeholder="Введите второе число" required/>
        <button type="submit">Получить результат</button>
    </form>
    <div id="mathOutput"></div>

    <script src="script.js"></script>
</body>
</html>